version: '3.8'

services:
  web:
    build: .
    image: devsecops-project
    container_name: devsecops-ecommerce-api
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=production
    restart: unless-stopped
